<div class="order-section">
  <div class="order-box" [ngClass]="beverage.name == BeverageEnum.TEA ? 'tea-order' : 'coffee-order'" *ngFor="let beverage of beverages">
    <div class="order-header">
      <img src="{{ beverage.icon }}" alt="" width="30px" height="30px">
      <p class="m-0 title">{{ beverage.name }}</p>
    </div>
    <form>
      <label for="forWhom">komu</label>
      <input type="text" id="forWhom">
      <div *ngIf="isCoffee(beverage.order)">
        <p>rodzaj</p>
          <div *ngFor="let method of CoffeePreparationMethods">
            <input type="button" [value]="method">
          </div>
        <p>moc</p>
          <div *ngFor="let strength of CoffeeStrengthOptions">
            <input type="button" [value]="strength">
          </div>
        <p>mleko</p>
        <div *ngFor="let milk of MilkOptions">
          <input type="button" [value]="milk">
        </div>
      </div>
      <div *ngIf="isTea(beverage.order)">
        <p>rodzaj</p>
        <div *ngFor="let type of TeaTypes">
          <input type="button" [value]="type">
        </div>
      </div>
      <p>cukier</p>
      <div *ngFor="let sugar of SugarOptions">
        <input type="button" [value]="sugar">
      </div>
    </form>
  </div>
</div>
