<div class="order-section">
  <div class="order-box" [ngClass]="beverage.name == BeverageEnum.TEA ? 'tea-order' : 'coffee-order'" *ngFor="let beverage of beverages">
    <div class="order-header">
      <img src="{{ beverage.icon }}" alt="" width="30px" height="30px">
      <p class="m-0 title">{{ beverage.name }}</p>
    </div>
    <form>
      <label for="forWhom">komu</label>
      <input type="text" id="forWhom">
      <div *ngIf="isCoffee(beverage.order)">
        <p>rodzaj</p>
            <button *ngFor="let method of CoffeePreparationMethods"
              [value]="method">{{ method }}
            </button>
        <p>moc</p>
            <button *ngFor="let strength of CoffeeStrengthOptions"
              [value]="strength">{{ strength }}
            </button>
        <p>mleko</p>
          <button *ngFor="let milk of MilkOptions"
                  [value]="milk">{{ milk }}
          </button>
      </div>
      <div *ngIf="isTea(beverage.order)">
        <p>rodzaj</p>
        <button *ngFor="let type of TeaTypes"
                [value]="type">{{ type }}
        </button>
      </div>
      <p>cukier</p>
      <button *ngFor="let sugar of SugarOptions"
              [value]="sugar">{{ sugar }}
      </button>
    </form>
  </div>
</div>
