@import "src/app/shared/colors.scss";
@import "src/app/shared/variables";

.order-section {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin-top: 1.5rem;
  overflow: auto;

  @media(max-width: 650px) {
    margin: 0.25rem;
  }
}

.title {
  @include text-properties(20px, 400);
  font-family: $main-font;
}

.order-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.order-box {
  border-radius: 2px;
  width: 85%;
  margin: 1rem 7rem 1rem 2rem;

  @media(max-width: 650px) {
    margin: 1rem 0.25rem 0.25rem 1rem;
    width: 75%;
  }

}

.tea-order {
  box-shadow: 0 0 1px 1px $main-color-dark;


}

.coffee-order {
  box-shadow: 0 0 1px 1px $secondary-color;
}

.trash-bin {

}
